html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

:root {
    --background-color: transparent;
}

body {
    height: 100vh;
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

iframe p {
    margin: 0;
    widows: 1;
    orphans: 1;
    word-spacing: normal;
    overflow-wrap: break-word;
    letter-spacing: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto; 
    -ms-hyphens: auto;
}

iframe {
    border: 0;
    width: 100%;
    height: calc(100% - 2em);
    padding: 0 !important;
    columns: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    background-color: transparent;
}
