html, body {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--background-color);
}

:root {
--background-color: transparent; /* Default value */
}

body {
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

iframe {
    border: 0;
    width: 100vw;
    height: 90vh;
    columns: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* May help later with Reading modes so that bg can be applied to whole page
        You need to allowtransparency on the iframe though (and sanitize authors’ CSS) */
    background-color: transparent;
}
